.celeste {
  background-color: #68d3ee; }

.verde {
  background-color: #3aa325; }

.naranja {
  background-color: #FBB03B; }

@font-face {
  font-family: fuenteBody;
  src: url(../tipografias/fuentegeneral.OTF); }

@font-face {
  font-family: titulos;
  src: url(../tipografias/titulos.TTF); }

body {
  font-size: 14px;
  font-family: fuenteBody !important; }

.titlFount {
  font-size: 146px;
  font-family: titulos; }

.margenes {
  margin: 44px 59.005px 48.1px 79.005px; }

.presentacion {
  display: flex;
  justify-content: space-between; }
  .presentacion img {
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 0px 10px orange;
    text-align: right; }
  .presentacion p {
    margin-left: 20px;
    text-align: left;
    margin: 2px 0px 2px 0px; }

.titulo {
  font-weight: bold;
  position: relative;
  margin-bottom: -5px; }

footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 85.35px;
  bottom: 0px; }
  footer a {
    height: 48px;
    transition: 1s;
    bottom: 0px;
    width: 100%;
    border: solid black 1px;
    background-color: #eead44;
    color: black;
    font-weight: bold;
    text-decoration: none; }
    footer a div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
  footer a:hover {
    transition: 1s;
    color: black;
    height: 96px; }

.tituloResaltado {
  font-size: 48px;
  color: #fbb03b;
  margin-top: 20px;
  font-weight: bold; }

.nombre {
  font-size: 155px;
  position: absolute; }

.apellido {
  margin-top: 34.4px;
  position: absolute;
  font-size: 433px;
  left: 65px; }

.parrafo {
  width: 400px; }

.cuerpo {
  display: flex; }
  .cuerpo .derecha {
    margin-left: 30px; }

.experiencia {
  display: flex; }
  .experiencia .textoIzquierda {
    margin-right: 20px; }
  .experiencia .textoDerecha {
    margin-left: 20px; }

.tituloFotos {
  width: 400px; }
