
@import "colores";
@import "tipografia";
.presentacion{
    margin: 40px;
    display: flex;
    justify-content: space-between;
    img{
        width: 500px;
        height: 500px;
        box-shadow: 0px 0px 0px 10px orange;
        text-align: right;
    }
    p{
        margin-left: 20px;
        text-align: left;
        font-size: 15px;
        margin: 2px 0px 2px 0px;
    }
}
.titulo{
    font-weight: bold;
}
footer{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 48*2px;
    bottom: 0px;
    a{
        height: 48px;
        transition: 1s;
        bottom: 0px;
        width:  100%;
        border: solid black 1px;
        background-color: #fbb03b;
        color: black;
        text-decoration: none;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
    a:hover{
        transition: 1s;
        color: black;
        height: 48px*2;
    }    
}
.tituloResaltado{
    color: #fbb03b;
    margin-top: 20px;
    font-weight: bold;
    p{
        font-size: 20px;
    }
}
.nombre{
    position: absolute;
    p{
        font-size: 100px;
    }
}
.apellido{
    margin-top: 30px;
    position: absolute;
    p{
        font-size: 300px;
    }
}